@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=League+Script&display=swap');

.league-script-regular {
    font-family: "League Script", serif;
    font-weight: 400;
    font-style: normal;
}
  
.ibm-plex-mono-medium {
    font-family: "IBM Plex Mono", serif;
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: "IBM Plex Mono";
    margin: 32px;
    line-height: 1.5;
    cursor: url(cursor.png), auto;
}

a {
    cursor: url(cursor-hover.png), pointer;
    text-decoration: none;
    color: black;
}

h1 {
    margin: 0px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 14px;
}

ul {
    padding-left: 20px;
}

.underline {
    text-decoration: underline;
}


.heading {
    text-align: left;
    font-family: "League Script";
    font-size: 24px;
}

.header {
    display: flex;
    max-width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

.about {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    gap: 40px;
}

.navbar {
    display: flex;
    gap: 20px;
    justify-content: end;
}

#me {
    width: 60%;
    text-align: left;
}

#recent {
    width: 40%;
    text-align: left;
}

li {
    font-size: 14px;
}

.bounce {
    display: flex;
    justify-content: center;
    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-2px);
    }
}

.i {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    counter-reset: boxes;
}

.project {
    width: 30%;
    position: relative;
    color: black;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    min-height: 145px;
}

#tags {
    font-size: 12px;
    text-align: right;
    text-decoration: underline;
}

.description {
    display: block;
    width: 80%;
    text-align: left;
    line-height: 1.5;
}

.description h3 {
    margin: 0px;
    font-weight: 500;
    font-size: 18px;
}

.description p {
    font-size: 12px;
    margin: 0px;
}

.i .project[data-info],
.project a {
    cursor: ne-resize;
}

.i .project[data-page] {
    cursor: help;
}

.hover-center {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}
  
.hover-text{
    font-size: 128px;
    font-weight: 1000;
    color: black;
    font-family: "League Script";
    text-align: center;
}

.hover-content {
    max-width: 48rem;
    max-height: 36rem;
    border-radius:1%;
    object-fit: contain;
}